footer{
   background-color: #353535;
   padding: 20px;
   color: #fff;
   & h4{
      font-family: 'Shrikland', sans-serif;
      padding-bottom: 10px;
      letter-spacing: 0.1rem;
   }
   & li{
      list-style-type: none;
      padding-top: 10px;
   }
   & a{
      text-decoration: none;
      color: #fff;
   }
   & .fas{
      padding-right: 10px;
   }
}

@media screen and (min-width: 768px){
   .footer__content{
      width: 80%;
      margin: 0 auto;
      & h4{
         text-align: center;
      }
   }
}