
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  animation: loader-visibility 2000ms forwards;
  background-color: white;
  z-index: 999;
  	& .dots{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
		& div{
			height: 30px;
			width: 30px;
			border-radius: 50%;
			float: left;
			top: 40px;
			position: relative;
			margin-left: 10px;
		}
		& .dot01{
			background: $color-primary;
		}
	  
		& .dot02{
			background: $color-tertiary;
		}
	  
		& .dot03{
			background: $color-secondary;
		}
	}
}


.dots div:nth-child(1),.dots div:nth-child(3){
	animation: anim-dot-one 1s linear infinite;
	top: 40px;
}

.dots div:nth-child(2){
	animation: anim-dot-two 1s linear infinite;
	top: -40px;
}