
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  animation: loader-visibility 2000ms forwards;
  background-color: white;
  z-index: 999;
}

.dots{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.dots div{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	float: left;
	top: 40px;
	position: relative;
	margin-left: 10px;
}

.dot01{
  background: $color-primary;
}

.dot02{
  background: $color-tertiary;
}

.dot03{
  background: $color-secondary;
}

.dots div:nth-child(1),.dots div:nth-child(3),.dots div:nth-child(5){
	animation: animateone 1s linear infinite;
	top: 40px;
}

.dots div:nth-child(2),.dots div:nth-child(4){
	animation: animatetwo 1s linear infinite;
	top: -40px;
}