/* Error: Undefined variable.
 *    ,
 * 41 |     background-color: darken($body-bg, 45%);
 *    |                              ^^^^^^^^
 *    '
 *   sass\layout\_loader.scss 41:30  @import
 *   sass\main.scss 13:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 41 \2502      background-color: darken($body-bg, 45%);\d\a    \2502                               ^^^^^^^^\a    \2575 \a   sass\\layout\\_loader.scss 41:30  @import\a   sass\\main.scss 13:9             root stylesheet";
}
