.btn{
    margin: 20px auto 0 auto;
    padding: 15px 30px;
    background: linear-gradient(180deg, $color-secondary 0%,$color-primary 100%);
    box-shadow: 0 4px 15px 0 rgba(153, 160, 160, 0.75);
    border: none;
    border-radius: 50px;
    opacity: 1;
    color: #fff;
    font-family: 'Roboto-regular', Verdana, sans-serif;
    font-size: 1rem;  
    &:hover{
        opacity: 0.8;
        box-shadow: 0 4px 15px 0 rgba(21, 22, 22, 0.75);
    }
}