
// COMING MENU__CARD

@keyframes anim-card{
    0% {
      transform: translateY(50px);
      opacity: 0;
  }
  20% {
      transform: translateY(0);
      opacity: 1;
  }
  100% {
       transform: translateY(0);
       opacity: 1;
  }
}



// LOADER

@keyframes loader-visibility {
  0% {
      opacity: 1;
      visibility: visible;
  }
  90% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      visibility: hidden;
  }
}

@keyframes animateone{
	0%{
		top:40px;
		transform:scale(1);
	}
	50%{
		top:-40px;
		transform:scale(0.5);
	}
}

@keyframes animatetwo{
	0%,100%{
		top:-40px;
		transform:scale(0.5);
	}
	50%{
		top:40px;
		transform:scale(1);
	}
}